body{
    margin-left: 2%;
    overflow-x: hidden;
    user-select: none;
}



#logo{
    width: 10vw;
    margin-left: 2%;
    display: inline-block;
    vertical-align: top;
    position:fixed;
    top: 2%;
}

.nav{
    color: aliceblue;
}
.nav:hover{
    color: coral;
}
#headerstaticbar{
  
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.74);
}



#headerstaticbarflex{
    
    vertical-align: top;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.5vw ;
    color: aliceblue;
   column-gap: 3%;
    display: flex;
    justify-content:end;
    margin-left: 55%;
    width: 60%;
    
}
#topimagemob{
    height: 0px;
    visibility: hidden;
}

#orange-color{
    margin-top: 40px;
    padding-top: 3%;

    background-color: rgb(247,152,98);
    width: 100vw;
}

#furniture{
  margin-left: 30%;
  width: 40%;
margin-top: 2%;
  box-shadow: 15px 15px 30px grey;
}

.line_orange{
    text-align: center;
    font-style: italic;
    font-size: 3vw;
    margin-top: 3%;
    color: aliceblue;
    padding-bottom: 5%;
}
#easyprocess{
    font-size: 3vw;
    margin-left: 35%;
    margin-top: 10%;
    width: 100vw;
   

}
#steps{
    margin-top: 30px;
    width: 100%;
    display:flex;
    column-gap: 3%;
}
#stepone{
    width: 30%;
    margin-left: 2%;

}

#steptwo{
    width: 30%;
}

#stepthree{
    width: 30%;
}

#payment{
    width: 100vw;
    margin-top: 30px;

    background-color:rgb(247,152,98) ;
}

.stepex{
    font-size: 2.5vw;
    margin-left: 5%;
}
#easeofpayment{
    color: aliceblue;
    font-size: 3vw;
    margin-left: 35%;
   
    margin-top: 5%;
}
#Customersatis{
    color: aliceblue;
    font-size: 3vw;
    margin-left: 22%;
  
    
}
#cod{
    width: 40%;
    margin-left: 30%;
    margin-top: 2%;
    margin-bottom: 2%;
      box-shadow: 15px 15px 30px grey;
}


#Menubar{
    
    font-size: 3vw;
    margin-left: 40%;
    

   

}
#menuimg{
    margin-top: 3%;
    width: 100vw;
    
}

#menulogo{
    margin-left: 25%;
    width: 45vw;




}
#menuimage1{
    margin-left: 5%;
}
.menuimages{
display: inline-block;
width: 30%;
margin-top: 5%;
border-radius: 50px;
}

#formfill{
    padding-top: 40px;
   margin-top: 5%;
    width: 100vw;
    height: auto;
    background-color: rgb(247,152,98);
}
#formtitle{
    margin-top: 50px;
    margin-bottom: 5px;
    margin-left: 32%;
    font-size: 3vw;
    color: aliceblue;
}

#regularcust{
    font-size: 2vw;
    
    color: aliceblue;
}


#time{
    visibility: hidden;
    height: 0px;
}
#day{
    visibility: hidden;
    height: 0px;
}
.register .nav-tabs .nav-link:hover{
    border: none;
}
.text-align{
    margin-top: -8%;
    margin-bottom: -9%;

    padding: 10%;
    margin-left: 30%;
}
.form-new{
    margin-right: 22%;
    margin-left: 20%;
}
.register-heading{
    margin-left: 21%;
    margin-bottom: 10%;
    color: #e9ecef;
}
.register-heading h1{
    margin-left: 21%;
    margin-bottom: 10%;
    color: #e9ecef;
}
.register{
    background: -webkit-linear-gradient(left, rgb(247,152,98), #795e2d,rgb(247,152,98));
    margin-top: 1%;
    padding: 1%;
    border-radius: 2.5rem;
}
.btnSubmit
{
    
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #03612e;
    border: none;
    cursor: pointer;
    margin-right: 6%;
    color: rgb(246, 246, 252);
    margin-top: 4%;
}
.ResSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #992b2b;
    
    border: none;
    cursor: pointer;
    margin-right: 6%;

    color: rgb(246, 246, 252);
    margin-top: 4%;
}
.entries{
    font-size: 25px;
    color: wheat;
    margin-bottom: 10px;
}

#privacybox{
    width: 100vw;
}

#privacy{
    font-size: 3vw;
    text-align: center;
    margin-top: 2%;
    margin-left: 40%;
}

#privacycont{
    font-size: 1.5vw;
}

#help{
    width: 100vw;
    
    background-color: rgb(247,152,98);
}
#helphead{
    font-size: 3vw;
    color: aliceblue;
   margin: 40%;
   
}

#helpone{
    margin-top: 2%;
    width: 30%;
    display: inline-block;
    margin-left: 10%;
    margin-bottom: 5%;

}

#helpsecond{
    margin-top: 2%;
    width: 30%;
    display: inline-block;
    margin-left: 10%;
    margin-bottom: 5%;
}

#contactus{
    width: 100vw;
    margin-top: 3%;
    
}
#map{
    width: 40%;
    margin-top: 3%;
    margin-left: 10%;
    display: inline-block;
    vertical-align: top;
}

#info{
    margin-left: 5%;
    margin-top: 3%;
width: 40%;
display: inline-block;
}

#contacts-map{
    font-size: 3vw;
 
   margin: 40%;
}


.self-infoque{
    font-size: 25px;
}
.self-info{
    font-size: 28px;
}
@media only screen and (max-width: 768px) and (min-width: 320px) {


    #topimage1{
        visibility: hidden;
        height: 0px;
       
    }
    #logo{
        width: 17vw;
        position: fixed;
        top: 20px;
   
    }
    
    #topimagemob{
        visibility: visible;
        height: auto;
        width: 100vw;
        height: 94vh;
    }

    .entries{
        font-size: 4vw;
        color: wheat;
        margin-bottom: 10px;
    }
    
    .menuimages{
        display: block;
        margin-left: 15%;
        width: 70%;
    }
#menulogo{
    width: 70%;
    display: block;
    margin-left: 15%;
}
    #menuimage1{
        display: block;
        margin-left: 15%;
        width: 70%
    }

    #formfillsec{
       width: 90%;
    }
    #home{
        width: 100%;
        margin-left: -5%;
    }
#steps{
    display: block;
}
    #stepone{
        display: block;
        width: 70%;
        margin-left: 15%;
        margin-bottom: 5%;
    }
    #steptwo{
        display: block;
        width: 70%;
        margin-left: 15%;
        margin-bottom: 5%;
    }
    #stepthree{
        display: block;
        width: 70%;
        margin-left: 15%;
        margin-bottom: 5%;
    }
#cod{
    width: 70%;
    
    margin-left: 15%;
    margin-top: 2%;
    margin-bottom: 2%;
      box-shadow: 15px 15px 30px grey;
      
}

#helpone{
    width: 70%;
    display: block;

}

#furniture{
    margin-left: 15%;
  margin-top: 2%;
    box-shadow: 15px 15px 30px grey;
    width: 70%;
  }
#helpsecond{
    width: 70%;
    display: block;
    
}

#regularcust{
    font-size: 20px;

    
}
#terms{
    visibility: hidden;
    font-size: 0px;
}



#headerstaticbarflex{
    margin-left: 40%;
    font-size: 3.2vw;
  
}
.line_orange{
    font-size: 3.6vw;
}
#easyprocess{
    font-size: 3.6vw;
}

.stepex{
    font-size: 3.6vw;
}

#easeofpayment{
    font-size: 3.6vw;
}
#Customersatis{
    font-size: 3.6vw;
}
#Menubar{
    font-size: 3.6vw;
}
#formtitle{
    font-size: 3.8vw;
   
}

#privacybox{
   margin-top: 3%;
    font-size: 3.5vw;
}

#privacycont{
    margin-top: 3%;
    font-size: 20px;
    
}

#helphead{
    font-size: 3.6vw;
}
   
#contacts-map{
    font-size: 3.6vw;
}


@media only screen and (max-width: 420px) and (min-width: 320px){


#home{
    width: 100%;
    margin-left: -5%;
}
.self-infoque{
    font-size: 17px;
}
.self-info{
    font-size: 19px;
}
    }
    

    @media only screen and (max-width: 600px) and (min-width: 320px){
        #map{
            display: block;
            width: 70%;
            
        }
        #info{
            display: block;
            width: 70%;
        }
    }
}
